<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webabcd.androiddemo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ipc.PackageDemo1"></activity>
        <activity android:name=".ipc.ContentProviderDemo1" />
        <activity android:name=".ipc.URLSchemeDemo1" />
        <activity android:name=".storage.SharedPreferencesDemo1" />
        <activity android:name=".storage.StorageDemo3" />
        <activity android:name=".storage.StorageDemo2" />
        <activity android:name=".storage.StorageDemo1" />
        <activity android:name=".input.TouchDemo5" />
        <activity android:name=".input.GestureDemo3" />
        <activity android:name=".input.GestureDemo2" />
        <activity android:name=".input.GestureDemo1" />
        <activity android:name=".input.TouchDemo4" />
        <activity android:name=".input.TouchDemo3" />
        <activity android:name=".input.TouchDemo2" />
        <activity android:name=".input.TouchDemo1" />
        <activity android:name=".view.text.MultiAutoCompleteTextViewDemo1" />
        <activity android:name=".view.text.AutoCompleteTextViewDemo1" />
        <activity android:name=".view.collection.ExpandableListViewDemo1" />
        <activity android:name=".view.collection.GridViewDemo2" />
        <activity android:name=".view.collection.GridViewDemo1" />
        <activity android:name=".view.collection.ViewPagerDemo4" />
        <activity android:name=".view.collection.ViewPagerDemo3" />
        <activity android:name=".view.collection.ViewPagerDemo2" />
        <activity android:name=".view.layout.ScrollViewDemo1" />
        <activity android:name=".view.collection.ViewPagerDemo1" />
        <activity android:name=".view.collection.ViewFlipperDemo1" />
        <activity android:name=".view.navigation.DrawerLayoutDemo1" />
        <activity android:name=".view.navigation.TabBarDemo1" />
        <activity android:name=".view.navigation.ToolBarDemo2" />
        <activity android:name=".view.navigation.ToolBarDemo1" />
        <activity android:name=".view.flyout.AlertDialogDemo4" />
        <activity android:name=".view.flyout.ContextMenuDemo2" />
        <activity android:name=".view.flyout.PopupMenuDemo2" />
        <activity android:name=".view.flyout.ContextMenuDemo1" />
        <activity android:name=".view.flyout.PopupMenuDemo1" />
        <activity android:name=".view.flyout.AlertDialogDemo3" />
        <activity android:name=".view.flyout.PopupWindowDemo1" />
        <activity android:name=".view.flyout.TimePickerDialogDemo1" />
        <activity android:name=".view.flyout.DatePickerDialogDemo1" />
        <activity android:name=".view.flyout.ProgressDialogDemo1" />
        <activity android:name=".view.flyout.AlertDialogDemo2" />
        <activity android:name=".view.flyout.AlertDialogDemo1" />
        <activity android:name=".fragment.FragmentDemo4" />
        <activity android:name=".fragment.FragmentDemo1_2" />
        <activity android:name=".fragment.FragmentDemo3" />
        <activity android:name=".fragment.FragmentDemo2" />
        <activity android:name=".activity.ActivityDemo1_2" />
        <activity android:name=".fragment.FragmentDemo1" />
        <activity android:name=".designpattern.SingletonDemo" />
        <activity
            android:name=".activity.ActivityDemo6_2"
            android:theme="@style/MyActivityDialog" />
        <activity android:name=".activity.ActivityDemo6" />
        <activity android:name=".activity.ActivityDemo4_3" />
        <activity android:name=".activity.ActivityDemo5_3" />
        <activity
            android:name=".activity.ActivityDemo5_2"
            android:taskAffinity="com.webabcd.androiddemo.task2" />
        <activity
            android:name=".activity.ActivityDemo5"
            android:taskAffinity="com.webabcd.androiddemo.task1" />
        <activity android:name=".activity.ActivityDemo4_2" />
        <activity android:name=".activity.ActivityDemo4" />
        <activity android:name=".activity.ActivityDemo3_2" />
        <activity android:name=".activity.ActivityDemo3" />
        <activity android:name=".activity.ActivityDemo2" />
        <activity android:name=".resource.LocalizationDemo1" />
        <activity android:name=".view.selection.SpinnerDemo5" />
        <activity android:name=".view.selection.SpinnerDemo4" />
        <activity android:name=".view.selection.SpinnerDemo3" />
        <activity android:name=".view.selection.SpinnerDemo2" />
        <activity android:name=".view.selection.SpinnerDemo1" />
        <activity android:name=".tools.GenerateReadme" />
        <activity android:name=".ui.DensityDemo1" />
        <activity android:name=".ui.ThemeDemo3" />
        <activity android:name=".ui.ShapeDemo3" />
        <activity android:name=".ui.ShapeDemo2" />
        <activity android:name=".ui.ShapeDemo1" />
        <activity android:name=".ui.ColorDemo1" />
        <activity android:name=".view.webview.WebViewDemo5" />
        <activity android:name=".view.webview.WebViewDemo4" />
        <activity android:name=".view.webview.WebViewDemo3" />
        <activity android:name=".view.webview.WebViewDemo2" />
        <activity android:name=".kotlin.HelloWorld" />
        <activity android:name=".animation.AnimationDemo7" />
        <activity android:name=".animation.AnimationDemo6" />
        <activity android:name=".animation.AnimationDemo5" />
        <activity android:name=".animation.AnimationDemo4" />
        <activity android:name=".animation.AnimationDemo3" />
        <activity android:name=".animation.AnimationDemo2" />
        <activity android:name=".animation.MatrixDemo2" />
        <activity android:name=".animation.AnimationDemo1" />
        <activity android:name=".animation.MatrixDemo1" />
        <activity android:name=".ui.ThemeDemo2" />
        <activity android:name=".ui.StyleDemo1" />
        <activity android:name=".ui.ThemeDemo1" />
        <activity android:name=".view.listview.ListViewDemo9" />
        <activity android:name=".view.listview.ListViewDemo8" />
        <activity android:name=".view.listview.ListViewDemo7" />
        <activity android:name=".view.listview.ListViewDemo6" />
        <activity android:name=".view.listview.ListViewDemo5" />
        <activity android:name=".view.listview.ListViewDemo4" />
        <activity android:name=".view.listview.ListViewDemo3" />
        <activity android:name=".view.listview.ListViewDemo2" />
        <activity android:name=".view.listview.ListViewDemo1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ViewDemo1" />
        <activity android:name=".service.BasicDemo1" />

        <service android:name=".service.DownloadService" />

        <activity android:name=".view.text.TextViewDemo1" />
        <activity android:name=".view.text.TextViewDemo2" />
        <activity android:name=".view.text.TextViewDemo3" />
        <activity android:name=".view.text.TextViewDemo4" />
        <activity android:name=".view.text.TextViewDemo5" />
        <activity android:name=".view.text.TextViewDemo6" />
        <activity android:name=".view.text.EditTextDemo1" />
        <activity android:name=".view.text.EditTextDemo2" />
        <activity android:name=".view.text.EditTextDemo3" />
        <activity android:name=".async.ThreadDemo1" />
        <activity android:name=".async.ThreadDemo2" />
        <activity android:name=".async.ThreadDemo3" />
        <activity android:name=".async.ThreadDemo4" />
        <activity android:name=".async.ThreadDemo5" />
        <activity android:name=".async.ThreadPoolDemo1" />
        <activity android:name=".async.ThreadPoolDemo2" />
        <activity android:name=".async.AsyncTaskDemo1" />
        <activity android:name=".async.HandlerDemo1" />
        <activity android:name=".async.HandlerDemo2" />
        <activity android:name=".async.HandlerDemo3" />
        <activity android:name=".async.ThreadDemo6" />
        <activity android:name=".async.TimerDemo1" />
        <activity android:name=".async.ThreadLocalDemo1" />
        <activity android:name=".async.FutureTaskDemo1" />
        <activity android:name=".async.FutureTaskDemo2" />
        <activity android:name=".view.layout.LinearLayoutDemo1" />
        <activity android:name=".view.layout.RelativeLayoutDemo1" />
        <activity android:name=".view.layout.TableLayoutDemo1" />
        <activity android:name=".view.layout.GridLayoutDemo1" />
        <activity android:name=".view.layout.FrameLayoutDemo1" />
        <activity android:name=".view.layout.ConstraintLayoutDemo1" />
        <activity android:name=".view.layout.ConstraintLayoutDemo2" />
        <activity android:name=".view.layout.ConstraintLayoutDemo3" />
        <activity android:name=".concurrent.LockDemo1" />
        <activity android:name=".concurrent.LockDemo2" />
        <activity android:name=".concurrent.LockDemo3" />
        <activity android:name=".concurrent.ReentrantLockDemo1" />
        <activity android:name=".concurrent.SynchronizedDemo1" />
        <activity android:name=".concurrent.SynchronizedDemo2" />
        <activity android:name=".concurrent.ReadWriteLockDemo1" />
        <activity android:name=".concurrent.ReentrantReadWriteLockDemo1" />
        <activity android:name=".concurrent.VolatileDemo1" />
        <activity android:name=".concurrent.CountDownLatchDemo1" />
        <activity android:name=".concurrent.CyclicBarrierDemo1" />
        <activity android:name=".concurrent.SemaphoreDemo1" />
        <activity android:name=".concurrent.AtomicDemo1" />
        <activity android:name=".view.button.ButtonDemo1" />
        <activity android:name=".view.button.ImageButtonDemo1" />
        <activity android:name=".view.button.ButtonDemo2" />
        <activity android:name=".view.media.ImageViewDemo1" />
        <activity android:name=".view.media.ImageViewDemo2" />
        <activity android:name=".view.media.NinePatchDemo1" />
        <activity android:name=".view.selection.RadioButtonDemo1" />
        <activity android:name=".view.selection.CheckBoxDemo1" />
        <activity android:name=".view.selection.ToggleButtonDemo1" />
        <activity android:name=".view.selection.SwitchDemo1" />
        <activity android:name=".view.selection.RadioButtonDemo2" />
        <activity android:name=".view.selection.CheckBoxDemo2" />
        <activity android:name=".view.selection.ToggleButtonDemo2" />
        <activity android:name=".view.selection.SwitchDemo2" />
        <activity android:name=".view.progress.ProgressBarDemo1" />
        <activity android:name=".view.progress.ProgressBarDemo2" />
        <activity android:name=".view.custom.MyLoadingDemo1" />
        <activity android:name=".view.progress.SeekBarDemo1" />
        <activity android:name=".view.progress.SeekBarDemo2" />
        <activity android:name=".view.progress.RatingBarDemo1" />
        <activity android:name=".view.progress.RatingBarDemo2" />
        <activity android:name=".view.selection.NumberPickerDemo1" />
        <activity android:name=".view.selection.NumberPickerDemo2" />
        <activity android:name=".view.custom.MyLayoutDemo1" />
        <activity android:name=".view.custom.CustomView1Demo" />
        <activity android:name=".view.custom.CustomView2Demo" />
        <activity android:name=".view.custom.CustomView3Demo" />
        <activity android:name=".view.custom.CustomView4Demo" />
        <activity android:name=".view.ViewDemo2" />
        <activity android:name=".view.ViewDemo3" />
        <activity android:name=".activity.ActivityDemo1" />
        <activity android:name=".view.webview.WebViewDemo1" />
    </application>

</manifest>