<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webabcd.androiddemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.BasicDemo1" />
        <activity android:name=".ui.BasicDemo1" />
        <activity android:name=".service.BasicDemo1" />

        <service android:name=".service.DownloadService" />

        <activity android:name=".view.text.TextViewDemo1" />
        <activity android:name=".view.text.TextViewDemo2" />
        <activity android:name=".view.text.TextViewDemo3" />
        <activity android:name=".view.text.TextViewDemo4" />
        <activity android:name=".view.text.TextViewDemo5" />
        <activity android:name=".view.text.TextViewDemo6" />
        <activity android:name=".view.text.EditTextDemo1" />
        <activity android:name=".view.text.EditTextDemo2" />
        <activity android:name=".view.text.EditTextDemo3" />
        <activity android:name=".async.ThreadDemo1" />
        <activity android:name=".async.ThreadDemo2" />
        <activity android:name=".async.ThreadDemo3" />
        <activity android:name=".async.ThreadDemo4" />
        <activity android:name=".async.ThreadDemo5" />
        <activity android:name=".async.ThreadPoolDemo1" />
        <activity android:name=".async.ThreadPoolDemo2" />
        <activity android:name=".async.AsyncTaskDemo1" />
        <activity android:name=".async.HandlerDemo1" />
        <activity android:name=".async.HandlerDemo2" />
        <activity android:name=".async.HandlerDemo3" />
        <activity android:name=".async.ThreadDemo6" />
        <activity android:name=".async.TimerDemo1" />
        <activity android:name=".async.ThreadLocalDemo1" />
        <activity android:name=".async.FutureTaskDemo1" />
        <activity android:name=".async.FutureTaskDemo2" />
        <activity android:name=".view.layout.LinearLayoutDemo1" />
        <activity android:name=".view.layout.RelativeLayoutDemo1" />
        <activity android:name=".view.layout.TableLayoutDemo1" />
        <activity android:name=".view.layout.GridLayoutDemo1" />
        <activity android:name=".view.layout.FrameLayoutDemo1" />
        <activity android:name=".view.layout.ConstraintLayoutDemo1"></activity>
    </application>

</manifest>